body{
	 text-align: center;
    /* Ubicación de la imagen */
    
    background-image: url(https://image.freepik.com/vector-gratis/fondo-concepto-tecnologia-malla-alambre-espacio-texto_1017-14622.jpg);
    
    /* Para dejar la imagen de fondo centrada, vertical y
    
    horizontalmente */
    
    background-position: center center;
    
    /* Para que la imagen de fondo no se repita */
    
    background-repeat: no-repeat;
    
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    
    background-attachment: fixed;
    background-size: cover;
	width: 1000px;
	margin: auto;
}

.cont{
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px; 
	margin: 50px;
  	border: black 5px double;
  border-radius: 20px;
 	box-shadow: 7px 7px 15px black; 
  	
  	
}
